.ubuntu-mono-font {
  font-family: "UbuntuMono Nerd Font Propo";
  font-size: 14pt;
  color:#b8bb26;
}

.ubuntu-mono-font-red {
  font-family: "UbuntuMono Nerd Font Propo";
  font-size: 14pt;
  color:#fb4934;
}