[Desktop Entry]
Name=Yay Updates
Comment=Yay updates

Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=eric
X-KDE-PluginInfo-Email=eric@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=com.ericleman
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/ericleman/archinstall
X-KDE-PluginInfo-Category=System Information

