.ubuntu-mono-font {
  font-family: "Ubuntu Nerd Font Propo";
  font-size: 11pt;
  color:#b8bb26;
}

.ubuntu-mono-font-red {
  font-family: "Ubuntu Nerd Font Propo";
  font-size: 11pt;
  color:#fb4934;
}